.container {
  width: 50%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.input-section {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin: 0 auto;

  margin-bottom: 40px;
  display: flex;
  padding: 15px;

  border: 1px solid #aaa;
  border-radius: 10px;
}

.input-section input,
.input-section textarea {
  flex-grow: 1;
  padding: 10px 5px;
  border: 2px solid green;
  border-radius: 5px;
  margin-bottom: 10px;
  resize: none;
}

.input-section button {
  background-color: green;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
}

.input-section button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  transform: translateY(-3px);

  background-color: rgb(5, 154, 5);
}
